* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
  font-family: Vazirmatn FD;

            /* font-size: 16px; */
        }

        section#promot {
            background-color: rgb(255, 255, 0);
            padding: 20px;
        }

        section#promot>p {
            text-align: center;
        }

        header {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 100px;
            background-image: url('https://placehold.co/600x400');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            
        }
        header>section{
            background-color: rgba(170,170,170,.5);
            width: 40%;
            /* opacity: .5; */

        }

        header>section>h1,
        header>section>p {
            text-align: center;
            color: rgb(245, 245, 245);
        }
        header>section>a{
            display: block;
            padding: 15px 5px;
            margin: 5px auto;
            text-align: center;
            border-radius: 15px;
            text-decoration: none;
            background-color: rgb(100,100,100);
            color: white;
            width: 150px;
            
        }
        header>section>a:hover{
                        background-color: rgba(100,100,100,.7);

        }

        nav {
            background-color: rgb(0, 0, 0);

        }

        nav>ul {
            display: flex;
            list-style: none;
            /* flex-direction: row; */
            justify-content: center;
        }

        nav a {
            color: rgb(255, 255, 255);
            text-decoration: none;
            display: inline-block;
            padding: 10px 20px;
            transition: background-color .5s, color 1s ;
        }
        nav a:hover{
            background-color: rgb(241,241,241);
            color: rgb(0,0,0);
        }

        main {
            display: flex;
        }

        main>aside {
            flex: 30%;
            background-color: rgb(241, 241, 241);
            padding: 20px;
        }

        main>article {
            flex: 70%;
            padding: 20px;
        }
        .image{
            background-color: rgb(170,170,170);
            width: 100%;
            opacity: .5;
            transition: opacity .5s;
        }
        .image:hover{
            opacity: 1;
        }
        .tombnail{
            padding: 10px;
        }
        .bigpic{
           padding: 65px  
        }
        .smallpic{
            padding: 30px;
            margin-bottom: 10px;
        }
        .mediumpic{
            padding: 50px ;
        }
        .titlewhitespace, .textwhitespace{
            margin: 20px 0px;
        }
        footer {
            background-color: rgb(221, 221, 221);
            padding: 50px;
        }

        footer>h2 {
            text-align: center;
        }
        @media(max-width:600px){
            nav>ul{
                display: flex;
                flex-direction: column;
            }
            nav a{
                width: 100%;
                text-align: center;
            }
            main{
                flex-direction: column;
            }
        }